#azulEscuro {
    background-color: #0015ff;
    width: 400px;
    height: 100px;
}

#amarelo {
    background-color: #f3ef06;
    height: 30%;
    width: 40%
}

#texto {
    color: white;
    background-color: rgb(151, 234, 169);
    font-size: 15px;
    font-family: serif;
    font-weight: bold;
}

#laranja {
    width: 8%;
    height: 20vh;
    background-color: rgb(250, 117, 0)
}
#azul {
    width: 25vw;
    height: 15%;
    background-color: rgb(61, 143, 187);
}